POSTGRES_DB=umami
POSTGRES_USER=umami
POSTGRES_PASSWORD=CHANGE_ME_to_a_strong_password
APP_SECRET=CHANGE_ME_to_a_random_string

# Rename the tracking script to avoid ad blockers
# The default "umami" name is on some blocklists
TRACKER_SCRIPT_NAME=getinfo
